* {
  margin: 0px;
  font-family: 'NanumSquare';
}
@font-face {
  font-family: 'NanumSquare';
  src: url('../static/fonts/NanumSquare_acR.ttf') format('truetype');
}
body {
  background-image: url('../static/logos/home_update.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'NanumSquare';
}

.logo {
  width: 300px;
  height: 150px;
  margin-left: 20px;
  margin-top: 20px;
}