<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/index.css?0aftrsas">
	<title>Document</title>
</head>
<body>
	<div class="container">
		<a href="/main"><img class="logo" src="../static/logos/new_logo.png"/></a>
	</div>
	<script>
		// 엔터키 입력 시 메인 화면으로 이동
    window.addEventListener('keydown', e => {
      console.log(e.key);
      if(e.key == 'Enter') {
        location.href = '/main';
      }
    })
	</script>
</body>
</html>